@media (max-width:768px) {
    .wrapper-content,
    .wrapper-doctors{
        width: 90%;
    }
    .content{
        padding: 1rem !important;
        top: 1rem;
        left: 1rem;
        width: 80%;
    }
}
@media (max-width:576px) {
  
    .content{
        right: 1rem;
    }
}